h1 {
    font-size: 5vw;
    margin:0.75vw 1.5vw;
    height:3.5vw;
   
}

#about {
    margin-top:11vw;
    height:80vw;
}

#about img {
    display:block;
    float:none;
    width:40vw;
    height:40vw;
    margin: 0 auto;
}

p {
    font-weight:600;
    font-size:2.5vw;
    padding:5vw;
    color: yellow;
    text-align:center;
}

#hobbies {
    margin-top: 5vw;
}

#hobbies {
    clear:both;
    height:55vw;
}
#hobbies a {
    float:none;
    display:block;
    margin:3vw;
    font-size:4vw;
    font-weight:600;
    text-align:center;
}

#hobbies p {
    margin:15vw;
    float:none;
    display:block;
    font-size: 1.8vw;
    width: 25vw;
    padding:1vw 0 0 2.5vw;
}

div img {
    width: 80vw;
    float:none;
    margin: 1vw auto;
    border-radius:10%;
    transition: border-radius 2s;
}





#photos {
    clear:both;
    margin-bottom:50px;
    margin-top:15vw;
}



footer {
    height:60px;
}
form {
    margin: 2px;

}
input {
    display:block;
    height:25px;
    margin:2px;
}

.social-nav {
    float: right;
    margin:5px 5px 0 0 ;
    
}
.social-nav ul {
    margin: 7px 0 7px 7px;
}
.social-nav ul li {
    display: inline-block;
}

.social-nav ul li a img {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: auto 0.5vw;
    border-radius:20%;
    transition: border-radius 2s;
}






.hidden480 {
    position:absolute;
    visibility:hidden;
    top:0;
    left:0;
}