h1 {
    font-size: 3.5vw;
    margin:0.75vw 1.5vw;
    height:3.5vw;
   
}

#about {
    margin-top:5vw;
    height:35vw;
}

#about img {
    width:25vw;
    height:25vw;
}

footer {
    height:60px;
}
form {
    margin: 2px;

}
input {
    display:block;
    height:25px;
    margin:2px;
}

.hidden480 {
    position:absolute;
    visibility:hidden;
    top:0;
    left:0;
}