* {
    margin:0;
    padding:0;
}

body {
    box-sizing: border-box;
    background:grey;
}

header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:10;
    height:7vw;
    background:grey;
}

h1 {
    font-size: 4vw;
    display: inline-block; 
    color: white;
    margin:1.25vw 1.5vw;
    height:2.5vw;
    font-weight:900;
   
}

nav { 
    float:right;
    margin:1.5vw 4vw;
}

nav ul {
    list-style:none;
}
nav ul li {
    display:inline-block;
    margin: 0 1vw;
}

a {
    text-decoration:none;
    color: white;
    font-size:2vw;
    font-weight:600;
}
a:hover {
  color:blue;  
}
#about {
    margin:7vw 0 10vw 0;
    height:25vw;
}

p {
    font-weight:600;
    font-size:1.8vw;
    padding:3vw 0 0 2.5vw;
    height:22vw;
    color: yellow;
}
#about img {
    float:right;
    width:20vw;
    height:20vw;
    margin:5vw;
    border-radius:50%;
}

div + div {
    clear:both;
}
h2 { 
    border-radius: 25%;
    text-align: center;
    font-weight:800;
    width:29vw;
    display:inline-block;
    margin: 1vw 1vw 3vw 1vw;
    font-size: 3vw;
}



#hobbies {
    clear:both;
    height:55vw;
}
#hobbies a {
    clear:left;
    float:left;
    display:block;
    margin: 0 1vw 1vw 3vw;
}

#hobbies p {
    clear:left;
    float:left;
    display:block;
    font-size: 1.8vw;
    width: 25vw;
    padding:1vw 0 0 2.5vw;
}

div img {
    width: 68vw;
    height: 28vw;
    float:right;
    margin: 1vw 1vw 0 0;
    border-radius:10%;
    transition: border-radius 2s;
}

#photos {
    clear:both;
    margin-bottom:50px;
}


#myCarousel img {
    width: 100vw;
    margin: 0 auto;
}


.hidden890 {
    visibility:hidden;  /* c*/
    position:absolute;
    left:0;
    bottom:0;
    
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:10;
    height:50px;
    background:green;

}

form {
    float:left;
    margin: 7px 0 7px 3vw;
    height:36px;
    position:relative;
}

label, input {
    height:26px;
    display:inline-block;
    margin: 5px auto;
    font-size:15px;
    font-weight:600;
}

#email {
    max-width:40vw;
}

label {
    color: white;
}

.social-nav {
    float: right;
    margin:0 3vw 0 0 ;
    
}
.social-nav ul {
    margin: 7px;
}
.social-nav ul li {
    display: inline-block;
}

.social-nav ul li a img {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: auto 0.5vw;
    border-radius:20%;
    transition: border-radius 2s;
}

.social-nav ul li a img:hover {
    border-radius: 50%;   
}

.carousel-control {
    border-radius:50%;
    top:45%;
    height:15%;
    width:15%;
}
